<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppNhaTro"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".TenantPostDetail"
            android:exported="true" />
        <activity
            android:name=".Activity.LandLordHomeActivity"
            android:exported="true" />
        <activity
            android:name=".TenantPostList"
            android:exported="true" />
        <activity
            android:name=".HomeTenantActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.BookingActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.PostActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.RepportActivity"
            android:exported="true" />
        <activity android:name=".Activity.Landlord_Notification_Activity"
            android:exported="true"/>
<!--         <activity android:name=".TenantPostList" android:exported="true"/> -->
        <activity
            android:name=".Activity.VertifyPhoneNumberActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.LandLordAddNewPost"
            android:exported="true" />
        <activity
            android:name=".TenantSearchActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ResetPasswordOTPActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.ReserPasswordChangeActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.Tenant_notification_activity"
            android:exported="true" />
        <!-- <activity android:name=".TenantSearchActivity"android:exported="true"/> -->
        <activity
            android:name=".Activity.TermAndSerciveActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.LandLordPostDetailActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.LandLordUpdatePostActivity"
            android:exported="true" />
        <activity
            android:name=".Activity.LandLordFeedBack"
            android:exported="true" />
<!--        <activity android:name=".HomeTenantActivity" />-->
        <activity android:name=".LoginActivity" />
<!--        <activity android:name=".AdminLandlordDetailsActivity" />-->
<!--        Tenant-->
        <activity android:name=".TenantAccountActivity" />
        <activity android:name=".TenantSettingProfileActivity" />
        <activity android:name=".TenantPasswordChangeActivity" />
        <activity android:name=".TenantSettingActivity" />
        <activity android:name=".TenantContactActivity" />
        <activity android:name=".TenantPostFavourite" />
<!--Landlord-->
        <activity android:name=".LandlordPasswordChangeActivity" />
        <activity android:name=".LandlordAccountActivity" />
        <activity android:name=".LandlordSettingProfileActivity" />
        <!--        Admin-->
        <activity android:name=".AdminLandlordAddActivity" />
        <activity android:name=".AdminLandlordListActivity" />
        <activity
            android:name=".UserSignUp"
            android:exported="true" />
        <activity android:name=".Activity.Detail_Notification_Landlor"
            android:exported="true"/>
<!--        <activity-->
<!--            android:name=".Activity.LandLordUpdatePostActivity"-->
<!--            android:exported="true" />-->
    </application>

</manifest>